:root {
    --primary-dark : #003300;
    --primary-color : #1b5e20;
    --background-color: #b2fab4;
}

body{
    background-color: #b2fab4;
}
h1{
    text-align: center;
    color: #1b5e20;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    text-align: center;
    
}

#date-of-birth{
    display: "block";
    margin: 16px;
    width: 50%;
    height: 40px;
    max-width: 256px;
    align-self: center;

}

#lucky-number{
    display: "block";
    margin: 16px;
    width: 50%;
    height: 40px;
    max-width: 256px;
    align-self: center;
}

#check-lucky-dob{
    display: "block";
    margin: 16px;
    width: 50%;
    height: 40px;
    max-width: 256px;
    align-self: center;
    background-color: #1b5e20;
    color: antiquewhite;
}

#success{
    margin: auto;
    display: none;
}

#failure{
    margin: auto;
    display: none;
}

#output-info{
    font-size: large;
}

#privacy-container{
    font-size: small;
}

/** footers **/

.footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    display: "block";
    margin-top: 32px;
  }
  
  .footer .link {
    color: white;
  }
  
  .footer .footer-header {
    font-weight: bold;
    font-size: large;
  }
  
  .footer ul {
    padding-inline-start: 0px;
  }

  
  .list-non-bullet {
    list-style: none;
    padding-inline-start: 0px;
  }

  .list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
  }

